<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles.css">
        <script src="../scripts/style.js"></script>
        <link rel="icon" href="../imgs/icon.ico" sizes="32x32">
        <title>Rick and Morty Wiki</title>
    </head>
    <body>
        <main class="mains">
            <div class="title_top">
              <img src={~p'/images/rick_stick.png'} alt="rick_stick" class="sticker_left">
              <h1 class="titles">Locations</h1>
              <img src={~p'/images/morty_stick.png'} alt="morty_stick" class="sticker_right">
            </div>
            <div class="filter-form">
                <h2>Filter Locations</h2>
                <form id="location-filters" action={~p"/locations"} method="get">
                  <div class="filter-field">
                    <label for="location-name">Name:</label>
                    <input type="text" id="location-name" name="name" placeholder="Location Name">
                  </div>
                  <div class="filter-field">
                    <label for="location-type">Type:</label>
                    <input type="text" id="location-type" name="type" placeholder="e.g. Planet, Space station">
                  </div>
                  <div class="filter-field">
                    <label for="dimension">Dimension:</label>
                    <input type="text" id="dimension" name="dimension" placeholder="e.g. Dimension C-137">
                  </div>
                  <button type="submit">Apply Filters</button>
                </form>
            </div>  
            <div class='location-card-container'>
                <%= for location <- @locations do %>
                    <div class='location-card-content'>
                        <h2><%= location["name"] %></h2>
                        <p><strong>Type:</strong> <%= location["type"] %></p>
                        <p><strong>Dimension:</strong> <%= location["dimension"] %></p>
                    </div>
                <% end %>
            </div>
        </main>
    </body>
</html>